:root{
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-small: 1.5rem;
    --font-medium: 1.8rem;
    --font-large: 6rem;
    --primary:  rgb(242, 242, 203);
    --white: #ffffff;
}

html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}