:root{
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-small: 1.4rem;
    --font-small-medium: 1.8rem;
    --font-medium: 2rem;
    --font-large: 6.2rem;
    --font-body: 1.2rem;
    --primary:  #f5f5d9;
    --white: #ffffff;
    --blue: #010158;
    --brown: #3e0e0ee9;
    --red: #f62222;
    --gray: #808080;
    --dark-gray: #363636
}

html{
    font-size: 10px;
}

body{
    background-color: var(--white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header{
    background-color:  var(--blue);
    display: flex;
    padding: 2rem; 
}

.header-logo a,
.header-navigation ul li a{
    font-size: var(--font-small);
    font-family: var(--font-poppins);
    font-weight: 500; 
    color: var(--white);
    text-decoration: none;
}

.header-logo{
    width: 30%;
}

.header-logo a span{
    color: var(--red);
}

.header-navigation{
    width: 70%;
}

.header-navigation ul{
    display: flex;
    gap: 2.6rem;
    justify-content: end;
}

.header-navigation ul li{
    list-style: none;
    padding: 0 0.8rem;
    transition: all 0.2s;
    border-radius: 0.8rem;
}

.header-navigation ul li:hover{
    background-color: var(--white);
}
.header-navigation ul li a:hover{
    color: var(--red);
}

/* BANNER SECTION */

.banner{
    width: 100%;
    background-color: var(--blue);
}

.banner-content{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 7rem 0;
}

/* BANNER TEXT */
.banner-text{
    width: 50%;
}

.banner-title{
    color: var(--white);
    font-size: var(--font-large);
    font-family: var(--font-poppins);
    margin-bottom: 1.8rem;
    filter: drop-shadow(2px 1px 1px var(--red));
    text-transform: uppercase;
    font-weight: 900;
}

.banner-title span{
    color: var(--red);
    filter: drop-shadow(2px 1px 1px var(--white));
}

.banner-subtitle{
    color: var(--white);
    font-size: var(--font-medium);
    font-family: var(--font-poppins);
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.banner-subtitle span{
    font-weight: 900;
}

.banner-description{
    color: var(--white);
    font-family: var(--font-poppins);
    font-size: var(--font-small);
    width: 85%;
    margin-bottom: 2rem;
}

.banner-button{
    width: 150px;
    background-color: var(--red);
    padding: 0.5rem 3rem;
    border-radius: 1.5rem;
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-poppins);
    font-size: var(--font-small);
    filter: drop-shadow(2px 1.6px 3px var(--brown));
    font-weight: 500;
    transition: 0.2s;
}

.banner-button:hover{
    background-color: var(--white);
    color: var(--red);
}

/* BANNER IMAGE */
.banner-image{
    width: 50%;
    display: flex;
}

.banner-img{
    width: 75%;
    margin: auto;
}

/* ADDITIONAL INFO */
.additional-info{
    background-color: car(--primary);
    background: linear-gradient(to bottom, var(--blue) 50%, var(--white) 50%);

}

/* ADDTIONAL CONTENT */
.additional-content{
    background-color: var(--primary);
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 3rem;
}

.additional-card{
    width: 110px;
    height: 80px;
    margin: 0.5rem 0.5rem;
}

.additional-logo{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--blue);
    height: 55px;
}

.additional-text{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 25px;
    font-weight: 500;
    font-size: var(--font-body);
    font-family: var(--font-poppins);
    color: var(--gray);
}

.content{
    display: flex;
    width: 85%;
    margin: 0.9rem auto;
    padding: 7rem 0;
}

.content-image{
    width: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.content-text{
    width: 50%;
}

.content-subtitle{
    color: var(--blue);
    font-family: var(--font-poppins);
    font-size: var(--font-medium);
    margin-bottom: 2rem;
}

.content-sub-subtitle{
    color: var(--dark-gray);
}

.content-description{
    font-family: var(--font-poppins);
    color: var(--gray);
    padding: 1rem 0;
}

.content-img{
    width: 75%;
}

.content-text ul li{
    list-style: none;
}
